<div class="container-fluid text-center bg-dark" style="color: white;">
  <div class="row">
    <div class="col-sm">
      <h3>Item</h3>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID Item</th>
          <th>Nom Item</th>
          <th>Type Item</th>
          <th>Prix Item</th>
          <th>Editer</th>
          <th>Supprimer</th>

        </tr>
        </thead>

        <tbody>
        <tr >
          <td>{{ item.idItem }}</td>
          <td>{{ item.nameItem }}</td>
          <td>{{ item.typeItem }}</td>
          <td>{{ item.priceItem }}</td>
          <td>
            <button type="submit" class="btn btn-primary" >Modifier</button> <!-- routerLink="/auteur/{{auteur.idAuteur}}" -->
          </td>
          <td>
            <button type="submit" class="btn btn-primary" routerLink="/livre" (click)="onDelete()">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>

      <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>

    <div class="col-sm">
      <h3 id="newAuteur"  >Ajout d'un nouvel Item:</h3>
      <h3 id="editAuteur" >Modifier un Item :</h3>

      <form>
        <div class="form-group">
          <label for="name">Name Item</label>
          <input type="text" class="form-control" id="name" placeholder="{{nameItem}}" ><!-- [(ngModel)]="editedAuteur.nomAuteur" name="nom" required  -->
        </div>
        <div class="form-group">
          <label for="name">Type Item</label>
          <input type="text" class="form-control" id="prenom" placeholder="{{prenomAut}}" > <!-- [(ngModel)]="editedAuteur.prenomAuteur" name="prenomAuteur" required-->
        </div>
        <div class="form-group">
          <label for="name">Price Item</label>
          <input type="text" class="form-control" id="adresse" placeholder="{{adresseAut}}" > <!-- [(ngModel)]="editedAuteur.adresseAuteur" name="adresseAuteur" required-->
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSave()" >Sauver</button>
      </form>
    </div>
  </div>

</div>

