<div class="container-fluid text-center " >
  <div class="row">
    <div class="col-sm" *ngFor="let item of itemList" >
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ item.picItem }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ item.nameItem }}</h5>
          <p class="card-text">{{ item.typeItem }}</p>
          <a href="#" class="btn btn-primary">{{ item.priceItem }} €</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>Item</h3>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID Item</th>
            <th>Nom Item</th>
            <th>Image Item</th>
            <th>Type Item</th>
            <th>Prix Item</th>
            <th>Editer</th>
            <th>Supprimer</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of itemList">
            <td>{{ item.idItem }}</td>
            <td>{{ item.nameItem }}</td>
            <td><img src="{{ item.picItem }}" alt="{{ item.picItem }}"></td>
            <td>{{ item.typeItem }}</td>
            <td>{{ item.priceItem }}</td>
            <td>
              <a routerLink="/item/{{item.idItem}}">Modifier</a> <!-- routerLink="/auteur/{{auteur.idAuteur}}" -->
            </td>
            <td>
              <a routerLink="/item/{{item.idItem}}">Supprimer</a>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>

    <div class="col-sm">
      <app-item-detail></app-item-detail>
    </div>
  </div>

</div>

